@media only screen and (min-width: 3000px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 29vh;
    }
}






@media only screen and (max-width: 3000px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 29vh;
    }
}






@media only screen and (max-width: 2550px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 37vh;
    }
}






@media only screen and (max-width: 1920px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 44vh;
    }
}







@media only screen and (max-width: 1600px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 51vh;
    }
}







@media only screen and (max-width: 1366px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 59vh;
    }
}





@media only screen and (max-width: 991px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: auto;
    }

    .dwejnrkhweijrwer{
        display: none;
    }

    .deowjrkjweirew img {
        width: 30vw;
    }

    .dasfsreer{
        transform: initial;
    }

    .dasfsreer.position-absolute {
        position: initial !important;
    }

    .dasfsreer i {
        margin-right: 1rem;
        font-size: 2rem;
    }

    i.dbghsdfadarttt{
        font-size: 2rem;
        margin-left: 1rem;
    }

    .doiwejuirjweoirwept{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hb-modal {
        width: 90%;
    }

    .dewnrwejorewr input:checked + .dwejnrkhweijrwer.fghdrgtdrrtgewewr.d-none{
        width: 100%;
        display: block !important;
        position: absolute;
        background: #fff;
        left: 0;
        right: 0;
        z-index: 9;
    }

    .dwejnrkhweijrwer.fghdrgtdrrtgewewr ul{
        display: block;
        padding: 1rem !important;
    }

    .dwejnrkhweijrwer.fghdrgtdrrtgewewr ul li{
        margin-bottom: 1rem;
    }

    .lolmdslkjflsdm{
        flex-direction: column-reverse;
    }

    .lolmdslkjflsdm.align-items-center{
        align-items: start !important;
    }

    .oiajdoimewr.px-5{
        padding-inline: 1rem !important;
    }
    
    .oiajdoimewr{
        border-bottom: 0;
    }

    .lolmdslkjflsdm {
        top: 4.3rem;
    }
}