@media only screen and (min-width: 3000px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 630px;
    }
}






@media only screen and (max-width: 3000px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 630px;
    }
}






@media only screen and (max-width: 2550px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 645px;
    }
}






@media only screen and (max-width: 1920px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 653px;
    }
}







@media only screen and (max-width: 1600px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 660px;
    }
}






@media only screen and (max-width: 1399px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: 705px;
    }
}






@media only screen and (max-width: 991px){
    .sgfthrherwygtiydfsdde .video-wrapper {
        height: auto;
    }

    .dwejnrkhweijrwer{
        display: none;
    }

    .deowjrkjweirew img {
        width: 35vw;
    }

    .fgfrfdrdtreere.mb-5{
        margin-bottom: 1rem !important;
    }

    article.fgfrfdrdtreere .dosjifrjwer .diewhirwer{
        padding-top: 0;
    }

    .fgfrfdrdtreere:first-child{
        margin-top: -5rem;
    }

    .justify-content-end.erhbgsdertbhgsdfg{
        justify-content: center !important;
    }

    .footer-social-icons ul {
        justify-content: space-between;
    }

    .dasfsreer{
        transform: initial;
    }

    .doiwqjejir_inner h6{
        text-align: center;
    }

    .certification-grid img {
        margin-inline: auto;
    }

    .dasfsreer.position-absolute {
        position: initial !important;
    }

    .dasfsreer i {
        margin-right: 1rem;
        font-size: 2rem;
        margin-top: 0;
    }

    i.dbghsdfadarttt{
        font-size: 2rem;
        margin-left: 1rem;
    }
    
    .lklklkdssdd-slider img{
        height: auto;
    }

    .doiwejuirjweoirwept{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hb-modal {
        width: 90%;
    }

    .dewnrwejorewr input:checked + .dwejnrkhweijrwer.fghdrgtdrrtgewewr.d-none{
        width: 100%;
        display: block !important;
        position: absolute;
        background: #fff;
        left: 0;
        right: 0;
        z-index: 9;
    }

    .dwejnrkhweijrwer.fghdrgtdrrtgewewr ul{
        display: block;
        padding: 1rem !important;
    }

    .dwejnrkhweijrwer.fghdrgtdrrtgewewr ul li{
        margin-bottom: 1rem;
    }

    .lolmdslkjflsdm{
        flex-direction: column-reverse;
    }

    .lolmdslkjflsdm.align-items-center{
        align-items: start !important;
    }

    .oiajdoimewr.px-5{
        padding-inline: 1rem !important;
    }
    
    .oiajdoimewr{
        border-bottom: 0;
    }

    .lolmdslkjflsdm {
        top: 4.3rem;
    }
}